<footer class=" border-top footer text-muted">
        <div class="footerContainer container">
            <p class="footerElement">&copy; 2021 -  </p>
            <a class="footerElement" href="https://humanresources.azurewebsites.net/" target="_blank">  HHRRSupport  </a> - 
            <a class="footerElement" href="https://github.com/CharlyMora/HHRRSupport" target="_blank">  GitHub Repository  </a>
        </div>
</footer>