@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Listas de nenogios a nivel internacional</p>
    <p><a asp-controller="Business" asp-action="Index" >Business List</a></p>
    <p>Lista de filiales a nivel nacional</p>
    <p><a asp-controller="LocalBusiness" asp-action="Index" >LocalBusiness List</a></p>
    <p>Codigo github</p>
    <p><a href="https://github.com/CharlyMora/HHRRSupport">Repositorio</a></p>
     
</div>
