@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Human resources supoort project</h1>
    <p>this is a project to manage personnel in a global scale </p>
    <h4>International business</h4>
    <p>Global scale name</p>
    <p><a asp-controller="Business" asp-action="Index" >Business List</a></p>
    <h4>Subsidiaries nationwide</h4>
    <p>Subsidiaries or legal business on a national territory</p>
    <p><a asp-controller="LocalBusiness" asp-action="Index" >LocalBusiness List</a></p>
    <h4>Offices</h4>
    <p>Venues, seats, campuses or headquarters</p>
    <p><a asp-controller="Campus" asp-action="Index" >Campus List</a></p>
    
</div>
