@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>hola mundo</h1>
    <p>Este es un proyecto para la gestion de personal a nivel global <br/>
        por ahora la navegacion esta hecha para facilitar la los tests </p>
    <h4>Listas de nenogios a nivel internacional</h4>
    <p>Esta lista es de los neciocios como son conocidosa nivel mundial</p>
    <p><a asp-controller="Business" asp-action="Index" >Business List</a></p>
    <h4>Lista de filiales a nivel nacional</h4>
    <p>Esta lista es de las filiales que pueda tener un negico internacional en un pais o territorio legal</p>
    <p><a asp-controller="LocalBusiness" asp-action="Index" >LocalBusiness List</a></p>
    <h4>Lista de sedes</h4>
    <p>Esta es a lista de sedes que un establecimiento legal pueda tener</p>
    <p><a asp-controller="Campus" asp-action="Index" >Campus List</a></p>
    <h5>Codigo github</h5>
     
</div>
