@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Business" asp-action="Index" >Business List</a> |
    <a asp-controller="LocalBusiness" asp-action="Index" >LocalBusiness List</a> 
</div>
