@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4>Listas de nenogios a nivel internacional</h4>
    <p><a asp-controller="Business" asp-action="Index" >Business List</a></p>
    <h4>Lista de filiales a nivel nacional</h4>
    <p><a asp-controller="LocalBusiness" asp-action="Index" >LocalBusiness List</a></p>
    <h4>Lista de sedes</h4>
    <p><a asp-controller="Campus" asp-action="Index" >Campus List</a></p>
    <h5>Codigo github</h5>
    <p><a href="https://github.com/CharlyMora/HHRRSupport">Repositorio</a></p>
     
</div>
